<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="Alpha Release" package="com.shopel.android" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="Shopel" android:theme="@style/MyTheme.Splash" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>